<?xml version='1.0' encoding='utf-8'?>
<widget id="org.esupportail.esupAuth" version="1.1.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Esup Auth</name>
    <description>Push application for login</description>
    <author email="abouskine@gmail.com" href="https://cordova.apache.org">
        Alex Bouskine
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="loadUrlTimeoutValue" value="120000" />
    <preference name="orientation" value="portrait" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="Fullscreen" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="android-manifest/uses-permission/[@android:name='android.permission.CAMERA']/@android:name" delete="true" />
    <preference name="orientation" value="default" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="android">
        <resource-file src="google-services.json" target="app/google-services.json" />
    </platform>
    <platform name="ios">
        <resource-file src="GoogleService-Info.plist" />
    </platform>
    <!-- Permission NFC pour iOS -->
    <platform name="ios">
        <!-- Autorisation d'utiliser le NFC -->
        <config-file platform="ios" target="*-Info.plist" parent="NFCReaderUsageDescription">
            <string>Cette application utilise le NFC pour scanner des cartes étudiantes ou professionnelles.</string>
        </config-file>
        <!-- Configurer le background mode pour NFC -->
        <feature name="BackgroundNFC">
            <param name="ios-package" value="BackgroundNFC" />
        </feature>
    </platform>

    <!-- Inclure le plugin NFC -->
    <plugin name="phonegap-nfc" spec="~1.2.0" />
    <icon src="www/img/logo.png" />
</widget>
