<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8">
        <!--
        Customize this policy to fit your own app's needs. For more guidance, please refer to the docs:
            https://cordova.apache.org/docs/en/latest/
        Some notes:
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <title>Esup Auth</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" href="css/material-icons.css">
        <link rel="stylesheet" href="css/materialize.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="cordova.js"></script>
        <title>Esup Auth</title>
    </head>
    <body>
    <script type="text/x-template" id="parametres-template">
        <div>
            <div v-if="">
                <h4>Params</h4>
                <p>
                </p>
            </div>
        </div>
    </script>

    <div id="app" class="container">
        <header>
            <nav class="top-nav">
                <div class="container">
                    <a href="#" v-on:click="checkTotp" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only" id="navButton">
                        <i class="material-icons">menu</i>
                    </a>
                    <div class="nav-wrapper">
                        <a class="page-title">{{pageTitle}}</a>
                    </div>
                </div>
            </nav>
            <ul id="slide-out" class="side-nav fixed" >
                <div class="no-padding sidenav-header" >
                    <div class="flex1">
                        <img src="img/logo.png" style="max-width:100px;text-align:center" alt="" v-if="!uid" >
                        <i class="material-icons medium" v-if="uid">account_circle</i>
                        <p v-if="uid">{{uid}}</p>
                    </div>
                </div>
                <li class="bold"  v-if="totpnb == 0">
                    <a href="#" v-on:click="navigate" id="home" name="home" class="flex"><img src="img/home.svg" style="width:30px;float:right" alt="">&emsp;Accueil</a>
                </li>
                <li class="bold" v-if="totpnb != 0">
                    <a href="#" v-on:click="navigate" id="home" name="totp" class="flex"><img src="img/home.svg" style="width:30px;float:right" alt="">&emsp;Accueil</a>
                </li>
                <li class="bold" v-if="!uid">
                    <a href="#" v-on:click="scan" class="flex"><img src="img/qrcode.svg" style="width:30px;float:right" alt="">&emsp;Activation QRCode </a>
                </li>
                <li class="bold" v-if="!uid">
                    <a href="#" v-on:click="navigate" id="scanless" name="scanless" class="flex"><img src="img/edit.svg" style="width:30px;float:right" alt="">&emsp;Activation manuelle</a>
                </li>
                <li class="bold" v-if="totpnb == 0">
                    <a href="#" v-on:click="navigate" id="totp" name="totp" class="flex"><img src="img/totp.svg" style="width:30px;float:right" alt="">&emsp;TOTP </a>
                </li>
                <div class="divider"></div>
                <li class="bold" v-if="uid">
                    <a href="#" v-on:click="desync" class="flex">Désactivation Push<i class="material-icons">remove_circle</i>
                    </a>
                </li>
            </ul>
        </header>
        <main>
            <div class="container" v-show="currentView=='home'">
                <p v-if="mode=='dev'">
                    uid : {{uid}}
                    gcm_id : {{gcm_id}}
                    additionalData : {{additionalData}}
                    model : {{model}}
                    manufacturer : {{manufacturer}}
                    push : {{push}}
                </p>         
                    <div class="card" v-if="!uid && !notified" >
                        <div class="card-content" style="padding-bottom: 0;padding-top: 7px;">
                            <div class="row" style="margin-bottom: 0;">
                                <h5>Comment ça marche ?</h5>
                            </div>
                        </div>
                        <div class="card-action" style="padding-bottom: 0;padding-top: 0;">
                            <div class="row" style="margin-bottom: 0;">
                                <ul class="collection">
                                    <li class="collection-item avatar">
                                        <img src="img/one.png" alt="" class="circle">
                                        <p>Modifiez vos préférences et activez la méthode "Notification mobile" dans l'application Esup-otp-manager, un code d'activation vous est alors affiché.</p>
                                    </li>
                                    <li class="collection-item avatar">
                                        <img src="img/two.png" alt="" class="circle">
                                        <p>Sélectionnez l'option 'Activation QRCode' du menu latéral et scannez le code affiché. Un message vous confirmera l'activation de ce service.</p>
                                    </li>
                                </ul>
                                <ul class="collection">
                                    <li class="collection-item avatar">
                                        <img src="img/two_blue.png" alt="" class="circle">
                                        <p>Vous pouvez également activer ce service sans scan grâce à l'option 'Activation manuelle' du menu latéral</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card" v-if="!notified && uid != {} && uid != undefined">
                        <div class="card-content" style="padding-bottom: 0;padding-top: 7px;">
                            <div class="row" style="margin-bottom: 0;">
                                <h5>Se connecter</h5>
                            </div>
                        </div>
                        <div class="card-action" style="padding-bottom: 0;padding-top: 0;">
                            <div class="row" style="margin-bottom: 0;">
                                <ul class="collection">
                                    <li class="collection-item avatar">
                                        <img src="img/one.png" alt="" class="circle">
                                        <p>Connectez-vous sur un service nécessitant une authentification sécurisée.</p>
                                    </li>
                                    <li class="collection-item avatar">
                                        <img src="img/two.png" alt="" class="circle">
                                        <p>Sélectionnez la méthode "Notification Android".</p>
                                    </li>
                                    <li class="collection-item avatar">
                                        <img src="img/three.png" alt="" class="circle">
                                        <p>Vous recevrez une notification ainsi qu'une demande de connexion.</p>
                                    </li>
                                    <li class="collection-item avatar">
                                        <img src="img/four.png" alt="" class="circle">
                                        <p>Acceptez cette demande.</p>
                                    </li>
                                    <li class="collection-item avatar">
                                        <img src="img/valid.png" alt="" class="circle">
                                        <p>Vous êtes connecté.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>                    
            </div>
	   <div class="container" v-show="currentView=='notify'">
		<div class="card">
                        <div class="card-content" >
                            <div class="row" style="margin-bottom: 0;">
                                <h5>{{additionalData.text}}</h5>
                            </div>
                        </div>
                        <div class="card-action">
                            <div class="row">
                                <a class="waves-effect waves-light btn btn-large col s12 green darken-1" v-on:click="accept"><i
                                        class="material-icons right">done</i>accepter</a>
                            </div>
                            <div class="divider"></div>
                            <div class="row">
                                <a class="waves-effect waves-light btn btn-large col s12 red darken-1" v-on:click="reject"><i
                                        class="material-icons right">clear</i>refuser</a>
                            </div>
                        </div>
		</div>
            </div>
	   <div class="container" v-show="currentView=='info'">
		<div class="card">
                        <div class="card-content" >
                            <div class="row" style="margin-bottom: 0;">
                                <h5>Oups!! Vos données d'application semblent avoir été supprimées. Ce peut arriver suite à une mise à jour ou si vous avez supprimé les données via les paramètres de votre smartphone.</h5>
 				<h5>Vous devez synchroniser à nouveau votre application avec ESUP-OTP-Manager.</h5>

                            </div>
                        </div>
                        <div class="card-action">
                            <div class="row">
                                <a class="waves-effect waves-light btn btn-large col s12 green darken-1" v-on:click="reject"><i
                                        class="material-icons right">done</i>OK</a>
                            </div>                            
                        </div>
		</div>
            </div>
            <div class="container" v-show="currentView=='scanless'">
                <div class="row" style="margin-bottom: 0;">
                    <div class="input-field col s12">
                        <input id="uid-input" v-model="uid_input" type="text" class="validate">
                        <label for="uid-input">Nom de compte</label>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0;">
                    <div class="input-field col s12">
                        <input id="code-input" v-model="code_input" type="text" class="validate">
                        <label for="code-input">Code</label>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0;">
                    <div class="input-field col s12">
                        <input id="host-input" type="text" v-model="host_input" class="validate">
                        <label for="host-input">Adresse</label>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0;">
                    <a class="waves-effect waves-light btn btn-large col s12" v-on:click="scanless"><i class="material-icons right">done</i>activer</a>
                </div>
            </div>
            <div class="container" v-show="currentView=='totp'">
                <br/>
                <table >
                    <tr>
                        <td>
                            <div class="list-group">
                                <a href="#" class="fa fa-plus-circle fa-4x" v-on:click="navigate" id="screenChoiceAddAccount" name="screenChoiceAddAccount"></a>
                            </div>
                        </td>
                        <td style="text-align: right">
                            <svg style="width: 57px;height: 57px">
                                <circle id="circle1" cx="28" cy="28" r="14" stroke-width="28" ></circle>

                            </svg>
                        </td>
                    </tr>
                </table>
                <br/>
                <div id="circleTimer">
                    <div class="col-md-8">
                        <tr>
                            <table class="table table-bordered">
                                <thead class="alert-info">
                                </thead>
                                <tbody id= "result"></tbody>
                            </table></td>
                        </tr>
                    </div>
                </div>
            </div>
            <div class="container" v-show="currentView=='totpAddAccount'">
                <div class="row" style="margin-bottom: 0;">
                    <div class="row" style="margin-bottom: 0;">
                        <div class="input-field col s12">
                            <input id="account2" type="text" class="validate">
                            <label for="account2">Nom du compte:</label>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 0;">
                        <div class="input-field col s12">
                            <input id="secret2" type="text" class="validate">
                            <label for="secret2">Votre clé:</label>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom: 0;">
                        <a class="waves-effect waves-light btn btn-large col s5" onclick="addAccount()" v-on:click="navigate" name="totp"><i class="material-icons right">done</i>Ajouter</a>
                    </div>
                </div>
            </div>
            <div class="container" v-show="currentView=='screenChoiceAddAccount'">
                <ul class="collection">                 
                    <li>
                        <a href="#" class="collection-item fa fa-plus-circle fa-lg" v-on:click="navigate" id="totpAddAccount" name="totpAddAccount"> Ajouter un compte</a>
                    </li> 
                    <li >
                        <a href="#" class="collection-item fa fa-camera fa-lg" v-on:click="navigate" onclick="totp_scan(document.getElementById('slide-out'))" id="totpAddAccountScan" name="totp"> Scan</a>
 
                    </li>
                </ul>
            </div>
        </main>
        <footer></footer>
    </div>

        <script type="text/javascript" src="js/jquery-3.6.1.min.js"></script>
        <script type="text/javascript" src="js/vue.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script src="js/app.js"></script>
        <script type="text/javascript" src="js/totp.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script type="text/javascript" src="js/script.js"></script>


    </body>
</html>
