html,
body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}
#app {
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
}

header,
main,
footer {
  padding-left: 240px;
}
main {
  margin-top: 2rem;
}
.top-nav {
  height: auto;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 0.5rem;
}

@media only screen and (max-width: 1024px) {
  header,
  main,
  footer {
    padding-left: 0;
  }

  .side-nav {
    display: block;
  }

  .nav-wrapper {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Spécifique aux tablettes comme l'iPad */
  .nav-wrapper {
    margin-top: 0;
    padding: 0 1rem;
  }
}
@media only screen and (orientation: landscape) and (max-width: 1024px) {
  .sidenav-trigger {
    display: block;
  }
  .side-nav {
    display: none;
  }

  .side-nav.open {
    display: block;
  }

  header,
  main,
  footer {
    padding-left: 0;
  }
}

nav {
  background-color: transparent !important;
  margin-top: 0;
}

nav a {
  color: #424242 !important;
}

.side-nav .collapsible-body li.active {
  background-color: #424242 !important;
}

.side-nav .collapsible-body li.active,
.side-nav.fixed .collapsible-body li.active {
  background-color: #26a69a !important;
}

.btn,
.btn-large {
  background-color: #757575 !important;
}

.sidenav-header {
  background-image: url("../img/wallpaper_polygons.jpg") !important;
  background-size: 150% 500%;
  background-repeat: no-repeat;
  color: white !important;
}

.sidenav-header a {
  background-color: #424242 !important;
  color: white !important;
  height: initial !important;
  line-height: initial !important;
}

.flex,
.flex1 {
  position: relative;
  display: flex !important;
  align-items: center !important;
  padding: 12px;
}

.flex i {
  position: absolute;
  right: 5px;
}

.side-nav button {
  padding: 2px 0px;
}
.scrollable-container {
  height: calc(100vh - 100px);
  overflow-y: auto;
}
.totpAddAccountMar {
  margin-bottom: 20px;
}
.paddingTotp {
  padding-top: 40px;
}

#circleTimer {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
  position: relative;
}

#circleTimer::-webkit-scrollbar {
  width: 12px;
}

#circleTimer::-webkit-scrollbar-track {
  background: transparent;
}

#circleTimer::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 4px;
  border: 3px solid transparent;
}

#circleTimer::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.8);
}

/*****************************************
Switch
*****************************************/
.Switch {
  position: relative;
  margin-left: 15px;
  display: inline-block;
  font-size: 1.6em;
  font-weight: bold;
  color: #ccc;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
  height: 14px;
  padding: 6px 6px 5px 6px;
  border-radius: 4px;
  cursor: pointer;
}

body.IE7 .Switch {
  width: 78px;
}

.Switch span {
  display: inline-block;
  width: 35px;
}

.Switch span.On {
  color: #33d2da;
}

.Switch .Toggle {
  position: absolute;
  top: -4px;
  width: 37px;
  height: 25px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
}

.Switch.On .Toggle {
  left: 54%;
}

.Switch.Off .Toggle {
  left: 2%;
}

/* Round Switch */
/* Round Switch */
.Switch.Round {
  padding: 0px 20px;
  border-radius: 40px;
}

body.IE7 .Switch.Round {
  width: 1px;
}

.Switch.Round .Toggle {
  border-radius: 50%;
  width: 22px;
  height: 22px;
}

.Switch.Round.On .Toggle {
  left: 64%;
  background-color: #26a69a;
}

.Switch.Round.Off .Toggle {
  left: -14%;
  background-color: #bdbdbd;
}

.Switch.Round.On {
  background-color: #84c7c1;
}

.Switch.Round.Off {
  background-color: #818181;
}

.TransportSwitch.Round.On {
  background-color: #84c7c1;
}

.TransportSwitch.Round.Off {
  background-color: #818181;
}

.addbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5e35b1 !important;
}

.scanbtn {
  display: flex;
  align-items: center;
  background-color: #5e35b1 !important;
}

svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 220;
  /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 220;
}

.waves-effect.waves-brown .waves-ripple {
  /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: rgba(121, 85, 72, 0.65);
}

#totpAddAccount,
#totpAddAccountScan,
#qrcodeActivation,
#manualActivation,
#help-submenu,
#param-submenu {
  padding: 30px;
  color: #039be5;
  border-bottom: 1px solid gray;
}

ul.collection {
  border: none;
}

/* css for the timer */
.timer {
  /*style="vertical-align:top;";*/
  /*style="horizontal-align:top;";
*/
  /*position: static;*/
}

#circle1 {
  stroke: #0055cc;
  stroke-linecap: butt;
  fill: transparent;
}

@media only screen and (max-width: 480px) {
  nav {
    margin-top: 0;
  }

  .sidenav-header {
    padding-top: 30px !important;
  }

  .nav-wrapper {
    margin-top: 30px;
  }
}

.side-nav a {
  line-height: 44px;
  height: auto !important; /* En faisant ceci l'espace entre les menuitems devient petit*/
}

.side-nav.fixed a {
  display: block;
  padding: 0 12px 0 10px;
  color: #444;
}

.input-field label {
  color: #797676 !important;
}

.waves-effect.waves-light.btn.btn-large.btn-custom-accept {
  background-color: #004d40 !important;
  color: #ffffff !important;
}

.waves-effect.waves-light.btn.btn-large.btn-custom-reject {
  background-color: #b71c1c !important;
  color: #ffffff !important;
}

.side-nav {
  display: none;
}

.side-nav.open {
  display: block;
}

/* Couleur d'icône plus accessible */
.accessible-icon {
  color: #0055cc;
  border-radius: 50%;
  padding: 10px;
}

.accessible-icon-text {
  display: flex;
  align-items: center;
  color: #0055cc;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.button-delete {
  color: #0055cc;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.collection {
  list-style-type: none;
  padding-left: 0;
}

.collection-item.avatar {
  position: relative;
  padding-left: 72px;
}

.collection-item img.circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 20px;
}

.collection-item p {
  font-size: 1rem;
  color: #333;
}

.nav-link {
  display: block;
  align-items: center;
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  width: 100%;
  text-align: left;
}
.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  display: inline-block;
  vertical-align: middle;
}
.icon-right {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
}
.sidenav-logo {
  max-width: 6rem;
  text-align: center;
}

.page-title {
  font-size: 2rem;
  color: #333333;
  margin: 0;
  flex: 1;
  display: flex;
  align-items: center;
  max-height: 4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 0;
}

@media only screen and (max-width: 480px) {
  .nav-link {
    font-size: 0.9rem;
  }
}

.btn-large.btn-custom {
  background-color: #757575 !important;
  color: #ffffff !important;
  border-radius: 4px;
  padding: 18px 24px;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.card-title {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.card p {
  font-size: 1rem;
  color: #555;
}

#nfcAuthButton {
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
}

.circle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); /* Ombre pour un effet de profondeur */
}
.circle-btn img.icon-custom {
  width: 50px;
  height: 50px;
}
.circle-btn:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.circle-btn:active {
  transform: scale(0.93);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.full-width {
  width: 100%;
}

.establishment-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.establishment-buttons button {
  border-radius: 5px;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-center {
  text-align: center !important;
}
/* Dark Mode Styles */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode #slide-out li {
  background-color: #333;
}

body.dark-mode #slide-out li.active,
body.dark-mode #slide-out li:hover,
body.dark-mode #slide-out li:focus-within {
  background-color: #121212;
}

body.dark-mode li.collection-item {
  color: #e0e0e0;
  background-color: #1e1e1e !important;
}
body.dark-mode li.collection-item p {
  color: #e0e0e0 !important;
}
body.dark-mode .switch label input[type="checkbox"]:checked + .lever:after {
  background-color: #0055cc !important;
}
body.dark-mode .switch label .lever {
  background-color: #4096e7 !important;
}
body.dark-mode .collection .collection-item {
  background-color: transparent !important;
}
body.dark-mode #totpAddAccount,
body.dark-mode #totpAddAccountScan,
body.dark-mode #qrcodeActivation,
body.dark-mode #manualActivation,
body.dark-mode #help-submenu,
body.dark-mode #param-submenu {
  color: #ffffff !important;
}
body.dark-mode .collapsible-header {
  background-color: transparent !important;
  color: #ffffff !important;
}
body.dark-mode .collapsible-body .tabs {
  background-color: transparent !important;
}
body.dark-mode .circle-btn {
  background-color: transparent !important;
}
body.dark-mode .circle-btn img.icon-custom {
  filter: invert(100%) sepia(11%) saturate(7456%) hue-rotate(284deg)
    brightness(114%) contrast(112%) !important;
}

body.dark-mode .when-dark-svg-blue {
  filter: invert(50%) sepia(43%) saturate(5667%) hue-rotate(209deg)
    brightness(97%) contrast(101%);
}

.dark-mode .icon {
    filter: invert(1.00);
}

.dark-mode .accessible-icon {
    color: #0572E1;
}

body.dark-mode .text,
.next,
.prev {
  color: #e0e0e0 !important;
}

.card.dark-mode {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.navbar.dark-mode {
  background-color: #333;
  color: #e0e0e0;
}

body.dark-mode ul#slide-out {
  background-color: #333 !important;
  color: #e0e0e0 !important;
}
.page-title.dark-mode {
  color: #e0e0e0;
}

/* Ajuste les boutons */
.btn.dark-mode {
  background-color: #424242;
  color: #fff;
}

.btn.dark-mode:hover {
  background-color: #616161;
}

/* Bottom sheet css */
.bottom-sheet {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: #333 !important;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px 15px 0 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.bottom-sheet.active {
  transform: translateY(0);
}

.sheet-header {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.sheet-body {
  padding: 20px;
  text-align: center;
}

.success-animation {
  margin-top: 3px;
  color: green;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.9s ease-in-out;
}
.scan-animation {
  display: block;
  margin: 0 auto;
  width: 100px; /* Ajuste la taille selon tes besoins */
  height: auto;
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Gris foncé transparent */
  backdrop-filter: blur(2px); /* Applique un flou */
  z-index: 99; /* Derrière le bottom sheet */
  opacity: 0;
  pointer-events: none; /* Inactif quand caché */
  transition: opacity 0.3s ease-in-out;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto; /* Interactif lorsqu'il est actif */
}
/* slide suppression */
/* Conteneur principal */
.swipe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 51px; /* Ajustez selon vos besoins */
  line-height: 56px;
  margin: 10px 0;
  border-radius: 10px;
}

/* Bouton principal */
.swipe-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  transition: transform 0.3s ease;
}

/* Zone de suppression */
.swipe-delete {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
  border-radius: 10px;
  z-index: 1;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

/* Icône de suppression */
.material-icons {
  font-size: 24px;
}

/* Animation de suppression réussie */
.swipe-delete.success {
  background-color: green !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0px;
}
/* Toast */
.toast-error {
  background-color: #ff0000 !important;
  color: #ffffff !important;
}
/* button nfc */
.btn-nfc {
  word-wrap: break-word; /* Pour éviter les débordements */
  white-space: normal; /* Permet le retour à la ligne */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 !important;
}
